@model Knowledge_Garden.Engine.Models.Attachment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
}

<h2>View Attachment</h2>

<div>
    <h4>Attachment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blobValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blobValue)
        </dd>

    </dl>
</div>
